body {
  font-family: sans-serif;
  text-align: center;
  padding: 10px;
}
button {
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}
ul {
  list-style-type: none;
  padding: 0;
}
